//colors
$white: #fff;
$black: #000000;
$gray: #efefef;
$gold: #e3b63f;
$pirpleDark: #774496;
$primaryColor: #10141f;
$secondaryColor: #070626;
$accentColor: #a164cc;

// fonts
$mainFont: 'socialico', sans-serif;

//screens
$mobile: 'max-width: 767px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1400px';
