@import './src/assets/styles/utils';
@import './src/assets/styles/components';
@import './src/assets/styles/section';

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 25px;

  @media ($desktop) {
    padding: 0;
  }
}
